.titulo-secao > h3 {
  margin: 0 !important;
}

.icon-sad {
  margin: 1.5em;
}

.mensagem {
  min-width: 100%;
  text-align: center;
}

.mensagem > h6 {
  margin-bottom: 1.5em;
}

.mensagem > h4 {
  margin-bottom: 1.5em;
}
