@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

body>.container-fluid{
  margin: 0;
  padding: 0;
}


/* MENU PRODUTOS */
.navbar-nav>li {
    float: right;
}
.navbar-nav>li>a{
  margin-top:25px; padding: 13px 24px;
}
.dropdown-menu p{
  display: inline-block;
}


/* HOME PRINCIPAL */
.slide{
  margin-top: 110px;
}

/* LOGIN E CARRINHO */

.bt_login{
  width: 20%;
  /* margin-top: 35px; */
  margin: 35px 10px 10px 10px;
  position: relative;
  text-align: right;
  float: left;
}

.bt_login button{
  border-bottom: none;
  border-style: none;
  background-color: transparent;
 }

 .bt_login a{
  color: #009cab;
 }

.bt_cadastro {
  width: 20%;
  /* margin-top: 35px; */
  margin: 35px 10px 10px 10px;
  position: relative;
  text-align: right;
  float: left;
}
.bt_cadastro button{
border-bottom: none;
border-style: none;
}
.bt_cadastro a{
color: #009cab;
}

.compras{
 width: 20%;
 float: right;
 font-size: 1.2rem;
 position: relative;
 margin-top: 30px;
 margin-right: 30px;
 text-align: right;
}
.compras .glyphicon {
    color: #009cab;
}
.compras p{
  margin: 20px;
  display: inline-block;
}
.logado {
  width: 70%;
  float: left;
  margin-top: 25px;
}

.logado p{
  margin: 0;
}

.logado #sair {
  font-size: 0.9em;
}

/* BUSCA */
.navbar-form{
margin-left:120px;
margin-top: 25px;
}
.navbar-form .input-group{
  float: right;
}
.busca {
background-color: #b5dbdc;
}
.busca form.navbar-form{
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  float: right;
}
.busca form.navbar-form input {
background-color: transparent;
border: none;
box-shadow: none;
font-size: 18px;
margin-top: 3px;
color: white;
}
.busca input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
.busca input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
.busca input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.busca .glyphicon {
  color: white;
}
.carrinho span{
  font-size: 2em;
}
.busca form.navbar-form button{
background-color: transparent;
border: none;
padding: 9px 15px 5px;
color: gray;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

/* FAQ */
.content-faq {
  padding-top: 120px;
  padding-bottom: 20px;
}
.content-faq>img {
  width: 20%;
}
.estilo-faq {
  display: table;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: solid 2px #B5DBDC;
  padding: 5px 10px 5px 10px;
  margin-bottom: 0;
}
span {
  display: table-cell;
  vertical-align: middle;
}

.seta {
  float: right;
  color: #009CAB;
}

.conteudo-faq {
  width: 100%;
  background-color: #EFF3F3;
  color: #212121;
}

.card-body {
  margin-left: 0 !important;
  padding: 25px 25px 25px 25px;
  font-weight: 500;
}

.titulo-faq {
  color: #009CAB;
  font-weight: 600;
}


/* FOOTER */
.rodape{
  margin-top: 20px;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  height: 30vh;
  color: #777;

}
.rodape .faixa1{
  height: 10px;
  padding: 0;
  margin: 0;
  background-color: #b5dbdc;
}
.rodape .logo_endereco{
  margin-top: 10px;
  position: relative;
  text-align: left;
  left:0;
}
.rodape .logo_endereco p{
  font-size: 0.8em;
  margin-top: 5px;
  text-align: left;
}
.rodape .info{
  position: relative;
  margin-top: 20px;
  display: inline-block;
}
.rodape .info b{
  font-size: 1em;
}
.rodape .info li{
  font-size: 0.9em;
  list-style-type: none;
  display: block;
}
.rodape .final{
  margin-top: 10px;
  position: relative;
}
.rodape .final ul{
  padding: 0;
  margin-top: 3px;
  text-align: center;
}
.rodape li{
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}
.rodape .seguranca{
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}
.rodape .seguranca p{
margin: 0;
}
.rodape .faixa2{
  bottom: 0;
  /* height: 5px; */
  padding: 5px;
  background-color: #009cab;
}
.rodape .faixa2 p{
  font-size: 0.7em;
  text-align: center;
  margin: 0;
  color: white;
}


/* PÃGINA LOGIN */
.fb {
  background-color: #3B5998;
  width: 200px;
  margin: 1%;
  color: white;
}
.google {
  background-color: #dd4b39;
  width: 200px;
  margin: 1%;
  color: white;
}
.total{
  margin-top: 120px;
}
.total .foto{
  padding-left: 15px;
}
.total_cad{
  margin-top: 100px;
}

.botredes{
margin-top: 20px;
}
.total .foto img{
  width: 100%;
}



/* RESPONSIVO 1 DO FOOTER */
@media (max-width: 1200px) {

.rodape .logo_endereco p{
  font-size: 0.7em;
  margin-top: 5px;
  text-align: left;
}
.rodape .info ul{
padding-left: 10px;
}
.rodape .final ul{
  text-align: left;
}
.rodape .seguranca{
  text-align: left;
  margin: 0 0 10px 20px;
}

}

/* RESPONSIVO DO HEADER */
@media (max-width: 768px) {

nav.navbar .navbar-nav{
 margin-left: 10px;
}
.navbar-nav>li {
 float: left;
 width: 100%;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
 max-height: 100%;
}
.navbar-brand{
 height: 75px;
}
.navbar-form {
 margin-left: 0px;
}
.navbar-toggle{
 margin-top: 22px;
}
}

/* RESPONSIVO 2 DO FOOTER */
@media (max-width: 768px) {

.rodape .info{
  margin-top: 5px;
  display: inline;
}
.rodape .info b{
  font-size: 0.9em;
}

.rodape .info ul{
  display: inline-block;
}

.rodape .info li{
  font-size: 0.8em;
  list-style-type: none;
}
}
