.card-text{
  font-family: 'Hind Guntur', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

img.card-img-top{
  margin-top: 5px !important;
}

#preco{
  font-size: 2.0rem;
  text-align: center;
  font-weight: bold;
  color: darkred;
}

.btn-group{
  margin: 0 auto !important;
}

a.page-link{
  color: inherit;
  font-size:1.5rem;
}

#botao-vitrine{
  font-size: 1.5rem;
  border-color: darkgrey;
}

.page-link:not(:disabled):not(.disabled){
  color: #333 !important;
  font-size:1.5rem !important;
  font-family: 'Hind Guntur', sans-serif !important;

}