.titulo-secao {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  color: #045b5b;
}

.card {
  border: none !important;
}

.card-text {
  font-family: "Hind Guntur", sans-serif;
  text-align: center;
  /* font-size: 1.5rem; */
  margin: 0;
}

.card-body {
  text-align: center;
}

.card-body > h6 {
  text-transform: uppercase;
}

.card-body > p {
  line-height: 20px;
  margin: 0;
}

.infos-precos {
  margin-top: 8px;
}

.preco-antigo {
  font-weight: 900;
  text-decoration: line-through;
}

.btn-comprar {
  margin: 20px 0;
}

#preco {
  text-align: center;
  font-weight: bold;
  color: #009fae;
  margin: 0;
}
