body {
  background-color: #dceeef !important;
  background-image: url("/img/background-admin.svg");
}

.titulo-pagina {
  text-align: center;
  margin: 25px 0;
}

.basic-info,
.images-product,
.aditional-infos {
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #406466;
  margin-bottom: 2em;
}

.acoes {
  margin-top: 2.5em;
  padding-top: 25px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 20px #406466;
}

.acoes > a {
  margin-bottom: 25px;
  text-transform: uppercase;
}

.sair-box {
  margin-top: 1em;
}

.enviar-form {
  width: 50%;
  margin-bottom: 1.5em;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  border: 2px solid #efefef;
  border-radius: 5px;
  min-width: 30% !important;
  height: 100px;
  text-align: center;
}

.icone-imagem {
  color: #efefef;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
