body {
  background-color: #dceeef !important;
  background-image: url("/img/background-admin.svg");
}

.titulo-pagina {
  text-align: center;
  margin: 25px 0;
}

.basic-info,
.images-product,
.aditional-infos {
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #406466;
  margin-bottom: 2em;
}
