body {
  overflow: inherit !important;
}
.loja-header {
  background-color: #343a40;
}

.logotipo {
  text-align: center;
  padding: 25px 0;
}

.user-controls {
  text-align: center;
  margin-top: 25px;
}

.user-controls > a {
  padding-right: 16px;
  color: #fff;
}

.navbar-nav {
  margin: 0 auto;
}
